# OpenAI / OpenWeatherMap keys
OPENWEATHER_API_KEY=your_openweather_api_key_here

# Backend Server URL (Local IP or Production URL)
SERVER_URL=http://YOUR_LOCAL_IP:8000

# Gemini API Key
GEMINI_API_KEY=your_gemini_key_here
